/* handle imports of the initial files */
/* core style overrides */
.sheet.journal-entry .journal-entry-page :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: unset;
}
.journal-page-content :is(h1,h2,h3,h4,h5,h6):not(:first-child) {
  margin-top: unset;
}
/* Fonts: Constructed from AV-2022 Stylings */
@font-face {
  font-family: "Dwarven Axe";
  src: url("./fonts/DwarvenAxe-BB.ttf") format('truetype');
}
@font-face {
  font-family: "Good OT";
  src: url("./fonts/GoodOT.otf") format('opentype');
}
@font-face {
  font-family: "Good OT Bold";
  src: url("./fonts/GoodOT-Bold.otf") format('opentype');
}
@font-face {
  font-family: "Good OT Cond Bold";
  src: url("./fonts/GoodOT-CondBold.otf") format('opentype');
}
@font-face {
  font-family: "Good OT Italic";
  src: url("./fonts/GoodOT-Italic.otf") format('opentype');
}
@font-face {
  font-family: "Sabon LT";
  src: url("./fonts/Sabon-LT-Std-Roman.otf") format('opentype');
}
@font-face {
  font-family: "Sabon LT Italic";
  src: url("./fonts/Sabon-LT-Std-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "Trade Gothic LT";
  src: url("./fonts/TradeGothic-LT-Std-BdCn.otf") format('opentype');
}
/* Variable Definitions */
.pf2e-av {
  --paizo-blue-light: #7c7bab;
  --paizo-blue-dark: #171f69;
  --pf2e-red: #5e0000;
  --pf2e-gold: #c5832b;
  /* Colour Schema - Abomination Vaults 2022 release */
  --av-green: #4f6f64;
  --av-green-dark: #25271c;
  --av-green-light: #d3cea5;
  --cora-blue: #b3bdc6;
  --cora-blue-dark: #313656;
  --av-gold: #e9b770;
  --av-gold-dark: #956321;
  --av-grey: #858e80;
  --av-grey-dark: #474d44;
  --av-tan: #996747;
  --av-brown: #431c00;
  --av-white: #ffffff;
  --av-table: #ede3c8;
  --av-table-light: #f5efe0;
  /* Holdover colors from default content kit appearance*/
  /*
  --color-bright: #671F1D;
  --color-dark: #481A19;
  --color-muted: #5A3325;

  --secondary-color-bright: #FFD532;
  --secondary-color-dark: #8F5000;
  --secondary-color-muted: #F96C00;
  */
  --gradient-start: #2B0B17;
  --gradient-end: #69164A;
  /* Font Variables */
  /* Headers */
  --h1-font: 'Dwarven Axe', serif;
  --h1-font-size: 2.25rem;
  --h2-font: 'Good OT Cond Bold', serif;
  --h2-sidebar: 'Good OT Cond Bold', serif;
  --h2-sidebar-font-size: 1.4rem;
  --h2-font-size: 1.6rem;
  --h3-font: 'Good OT Cond Bold', serif;
  --h3-font-size: 1.4rem;
  /* Body */
  --body-font-size: 1rem;
  --main-font: 'Sabon LT', serif;
  --main-italics-font: 'Sabon LT Italic', serif;
  --main-bold-font: 'Sabon Lt ', serif;
  --main-font-size: 1rem;
  /* Narrative Text */
  --narrative-font: 'Good OT', serif;
  --narrative-font-size: 1rem;
  /* Title Heading */
  --heading-title-font: 'Trajan', serif;
  --heading-title-font-size: 3rem;
  --heading-title-border-bottom: 5px solid transparent;
  --heading-title-border-image: url("../artwork/book/title-divider.png") 15 stretch;
  /* Regular Headings */
  --heading-font: 'Cambria' , serif;
  --heading-main-font-size: 1.625rem;
  --heading-secondary-font-size: 1.5rem;
  --heading-tertiary-font-size: 1.375;
  --heading-incline-font-size: 1rem;
  --heading-font-color: #481A19;
  --heading-border: 2px solid transparent;
  /* Box Font Settings */
  --box-font: 'Ancizar', serif;
  --box-font-size: 1rem;
  /* ToC Font Settings */
  --toc-box-heading-font-size: 1.1875rem;
  --toc-table-font-size: 1rem;
  /* Journal Background Image */
  /* Box Text */
  --background-texture-box: url("../assets/backgrounds/background-purple.webp");
  --border-frame-box: url("../assets/borders-dividers/box-text-frame.webp");
}
/* Headers */
.pf2e-av .journal-page-content p {
  font-family: var(--main-font);
  font-size: var(--body-font-size);
  line-height: 1.45rem;
  margin: 0 0 0.5rem 0;
}
.pf2e-av .journal-page-content h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
  letter-spacing: 0.1rem;
}
.pf2e-av .journal-page-content h1 .title {
  font-family: var(--heading-title-font);
  font-size: var(--heading-title-font-size);
  border-bottom: var(--heading-title-border-bottom);
  border-image: var(--heading-title-border-image);
  text-align: center;
}
.pf2e-av .journal-page-content h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-transform: uppercase;
}
.pf2e-av .journal-page-content h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-font-size);
}
.pf2e-av .journal-page-content h4 {
  font-family: var(--h3-font);
  font-weight: bold;
  font-size: var(--h3-font-size);
  text-transform: capitalize;
}
.pf2e-av .journal-page-content h1,
.pf2e-av .journal-page-content h2,
.pf2e-av .journal-page-content h3 {
  text-align: left;
  border: none;
  color: var(--av-green);
  display: block;
  margin: 0.15rem 0 0 0.15rem;
}
.pf2e-av .journal-page-content .av-white {
  color: var(--av-white);
}
.pf2e-av .journal-page-content h2.av-white {
  color: var(--av-white);
}
.pf2e-av .journal-page-content a.entity-link,
.pf2e-av .journal-page-content a.entity-link.broken,
.pf2e-av .journal-page-content a.content-link,
.pf2e-av .journal-page-content a.inline-roll {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 2px;
  background: var(--av-green);
  color: var(--av-green-light);
  margin-right: 1px;
  border-color: var(--av-green);
  line-height: 0.8rem;
}
.pf2e-av .journal-page-content a.entity-link i,
.pf2e-av .journal-page-content a.entity-link.broken i,
.pf2e-av .journal-page-content a.content-link i,
.pf2e-av .journal-page-content a.inline-roll i {
  color: var(--av-green-light);
}
.pf2e-av .journal-page-content [data-pf2-check]::before,
.pf2e-av .journal-page-content [data-pf2-repost]::before {
  padding: unset;
  color: var(--av-green-light);
  margin-left: 2px;
}
.pf2e-av .journal-page-content [data-pf2-repost],
.pf2e-av .journal-page-content [data-pf2-check],
.pf2e-av .journal-page-content [data-pf2-check]:not([data-pf2-show-dc=gm]) {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 2px 2px 2px;
  background: var(--av-green);
  color: var(--av-green-light);
  margin-right: 1px;
  border-color: var(--av-green);
  line-height: 0.8rem;
}
.pf2e-av .journal-page-content span [data-visibility]:is(div,em,h4,p,section,span,strong):not([data-visibility=all]) {
  background: rgba(0, 0, 0, 0.25);
}
.pf2e-av .journal-page-content span.trait {
  display: inline-block;
  border-left: 5px solid var(--av-gold);
  border-right: 5px solid var(--av-gold);
  background: var(--pf2e-red);
  color: white;
  padding: 2px 0 0 0;
  text-transform: uppercase;
  font-family: 'Good OT Cond Bold', Serif;
  max-height: 24px;
  min-width: 90px;
  text-align: center;
}
.pf2e-av .journal-page-content span.trait.blue {
  background: #566193;
}
.pf2e-av .journal-page-content span.trait.green {
  background: #3a7a58;
}
.journal-sheet.pf2e-av .journal-page-content {
  /*General Dropshadow*/
  /*Code blocks*/
  /*Separated Header*/
  /*Images and Image Variants*/
  /* Lists */
  /* Tables */
  /* Special block just for the Advancement journal entry */
  /* Special blocks for Otari Locations */
  /* Box-text callouts */
  /* Non-callout block quotes, for example the green text poem in Chapter 1 */
  /* The former character-creation stylings from beginner box*/
  /* Character Gallery, for showcasing who's who. */
  /* Blocks for handling chapter summary content */
}
.journal-sheet.pf2e-av .journal-page-content .shadow {
  filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.4));
}
.journal-sheet.pf2e-av .journal-page-content code {
  justify-content: center;
  border: 2px solid var(--av-green);
  border-radius: 10px;
  background: rgba(75, 125, 0, 0.15);
  padding: 5px;
}
.journal-sheet.pf2e-av .journal-page-content div.split {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.journal-sheet.pf2e-av .journal-page-content figure {
  margin: 20px 20px 25px 20px;
}
.journal-sheet.pf2e-av .journal-page-content figure img {
  border: none;
}
.journal-sheet.pf2e-av .journal-page-content figure.head {
  margin: 10px 20px 25px 20px;
}
.journal-sheet.pf2e-av .journal-page-content figure.box {
  border: 2px solid var(--av-green);
  background: var(--av-green-light);
  border-radius: 10px;
}
.journal-sheet.pf2e-av .journal-page-content figure.right {
  float: right;
  margin: 0.25rem 0 0.25rem 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content figure.right figcaption {
  font-family: var(--main-font);
  font-size: var(--body-font-size);
  color: var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content figure.flipx {
  transform: scaleX(-1);
}
.journal-sheet.pf2e-av .journal-page-content figure.left {
  float: left;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
.journal-sheet.pf2e-av .journal-page-content figure.left figure figcaption {
  color: var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content figure.left figure.square {
  flex-basis: 150px;
}
.journal-sheet.pf2e-av .journal-page-content img.light-writer {
  border-radius: 25px;
  filter: opacity(0.8) sepia(0.9);
  transition: 0.5s;
}
.journal-sheet.pf2e-av .journal-page-content img.light-writer:hover {
  border-radius: 25px;
  filter: opacity(0.8) sepia(0);
}
.journal-sheet.pf2e-av .journal-page-content ul {
  font-family: var(--main-font);
  font-size: var(--body-font-size);
  margin: 5px 0 5px 0;
  padding: 0 0 0 10px;
  list-style: none;
}
.journal-sheet.pf2e-av .journal-page-content ul.traits {
  list-style-type: none;
  display: flex;
  gap: 5px;
  line-height: initial;
  margin-bottom: 2px;
}
.journal-sheet.pf2e-av .journal-page-content ul.traits li {
  border-left: 5px solid var(--av-gold);
  border-right: 5px solid var(--av-gold);
  background: var(--pf2e-red);
  color: white;
  padding: 3px 8px 2px 8px;
  text-transform: uppercase;
  font-family: 'Good OT Cond Bold', Serif;
  max-height: 24px;
}
.journal-sheet.pf2e-av .journal-page-content ul.traits li.blue {
  background: #566193;
}
.journal-sheet.pf2e-av .journal-page-content ul.traits li.green {
  background: #3a7a58;
}
.journal-sheet.pf2e-av .journal-page-content li {
  margin: 0 0 7px 0;
}
.journal-sheet.pf2e-av .journal-page-content dl {
  margin: 0px 10px;
  padding: 5px;
  background: var(--cora-blue);
  border-top: 2px solid var(--cora-blue-dark);
  border-bottom: 2px solid var(--cora-blue-dark);
}
.journal-sheet.pf2e-av .journal-page-content dl dt {
  color: var(--cora-blue-dark);
  font-family: var(--h2-font);
  font-size: var(--h3-font-size);
}
.journal-sheet.pf2e-av .journal-page-content dl dd {
  color: black;
  line-height: 1.25rem;
  font-family: var(--main-font);
  font-size: 0.9rem;
}
.journal-sheet.pf2e-av .journal-page-content dl dd a.entity-link,
.journal-sheet.pf2e-av .journal-page-content dl dd a.entity-link.broken,
.journal-sheet.pf2e-av .journal-page-content dl dd a.content-link,
.journal-sheet.pf2e-av .journal-page-content dl dd a.inline-roll {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 2px;
  background: var(--cora-blue-dark);
  color: var(--av-green-light);
  margin-right: 1px;
  border-color: var(--cora-blue);
  line-height: 0.8rem;
}
.journal-sheet.pf2e-av .journal-page-content table {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: unset;
  font-size: 0.95rem;
}
.journal-sheet.pf2e-av .journal-page-content table td,
.journal-sheet.pf2e-av .journal-page-content table th {
  min-width: 10rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content table th {
  text-align: left;
  font-family: 'Good OT Bold', serif;
  background: var(--pf2e-red);
  color: var(--av-white);
}
.journal-sheet.pf2e-av .journal-page-content table tr {
  background: var(--av-table);
}
.journal-sheet.pf2e-av .journal-page-content table tr:nth-child(even) {
  background: var(--av-table-light);
}
.journal-sheet.pf2e-av .journal-page-content section.advancement {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content section.advancement h2 {
  font-family: var(--h1-font);
  font-size: 4.5rem;
  color: var(--av-green-light);
  -webkit-text-stroke: 2px var(--av-green);
  padding: 20px;
  flex-basis: 100px;
  text-align: center;
}
.journal-sheet.pf2e-av .journal-page-content section.advancement article {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content section.advancement article div {
  flex-basis: 75%;
}
.journal-sheet.pf2e-av .journal-page-content section.location-head {
  margin: 0 10px 15px 10px;
  border-bottom: 2px solid var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content section.location-head header {
  display: flex;
  justify-content: space-between;
}
.journal-sheet.pf2e-av .journal-page-content section.location-head article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.journal-sheet.pf2e-av .journal-page-content section.location-head article p {
  margin: initial;
}
.journal-sheet.pf2e-av .journal-page-content section.npc {
  display: flex;
}
.journal-sheet.pf2e-av .journal-page-content section.npc p.stats {
  color: var(--av-green);
  font-weight: bold;
  font-style: italic;
}
.journal-sheet.pf2e-av .journal-page-content section.npc article {
  flex-basis: 80%;
}
.journal-sheet.pf2e-av .journal-page-content section.npc figure {
  margin: auto;
  display: block;
}
.journal-sheet.pf2e-av .journal-page-content section.npc figure figcaption {
  color: var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content .box-text {
  display: flex;
  border: 2px solid black;
  margin: 1rem;
  gap: 10px;
  /* Encounter Callout */
  /* FVTT Instructional Callout*/
  /* Investigation Callout */
  /*img {
      max-width: 64px;
      max-height: 64px;
      border-radius: 12px;
      margin-top: 10px;
    }*/
  /*&.location {

      flex-direction: column;

      .flexrow {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;

        :nth-child(even) {
          text-align: right;
        }
      }

      ul.traits {
        list-style-type: none;
        display: flex;
        margin: unset;
        padding: unset;
      }

      .subflex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        ul {
          flex-basis: 60%;
        }

        li {
          border-left: 5px solid var(--av-gold);
          border-right: 5px solid var(--av-gold);
          background: var(--pf2e-red);
          color: white;
          padding: 6px 8px 2px 8px;
          text-transform: uppercase;
          font-family: 'Good OT Cond Bold';
        }

        .p {
          flex-basis: 30%
        }
      }

      a.entity-link {
        font-weight: bold;
        line-height: unset;
        background: var(--pf2e-red);
        color: var(--av-gold);
        padding: 6px 4px 4px 4px;
        border: 2px solid var(--av-gold);

        i {
          color: var(--av-gold)
        }
      ;
      }
    }*/
}
.journal-sheet.pf2e-av .journal-page-content .box-text.instruction {
  display: block;
  width: 375px;
  height: max-content;
  background: url(./assets/sidebar-back.webp);
  background-size: calc(100% - 50px) calc(100% - 60px);
  background-repeat: no-repeat no-repeat;
  background-position: center;
  border-radius: 125px;
  padding: 0.5rem;
  font: var(--h2-font);
  color: var(--av-white);
  filter: drop-shadow(2px 2px 4px black);
  border: unset;
  scrollbar-color: var(--pf2e-gold);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.instruction p {
  font-family: var(--narrative-font);
  text-align: justify;
  line-height: 1.1rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border {
  min-height: 300px;
  background: url(./assets/sidebar-top.webp), url(./assets/sidebar-bottom.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, bottom left;
  background-size: 97% 210px, 97% 210px;
  padding: 2.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border > .box-content {
  min-height: 220px;
  margin: 0.5rem 0.15rem 1rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border > .box-content h2 {
  font-family: var(--h2-sidebar);
  font-size: var(--h2-sidebar-font-size);
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border > .box-content > h1,
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border > .box-content h2,
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-border > .box-content h3 {
  color: var(--av-white);
  margin-top: 0;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.narrative {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 13px -7px var(--color-shadow-dark);
  font-size: 1.1rem;
  font-family: var(--narrative-font);
  border-top: 2px ridge var(--av-green);
  border-bottom: 2px ridge var(--av-green);
  border-left: none;
  border-right: none;
  color: var(--av-green);
  padding: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.narrative.half {
  width: 50%;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.narrative.first {
  margin-top: 0px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter {
  display: block;
  border: 2px solid black;
  border-radius: 40px 8px 8px 8px;
  background: rgba(0, 0, 0, 0.15);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header {
  position: relative;
  min-height: 80px;
  padding-left: 100px;
  color: white;
  background: url(./assets/green-back.webp);
  background-size: cover;
  border-bottom: 2px solid black;
  border-radius: 40px 6px 0 40px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header img {
  height: 96px;
  width: 96px;
  position: absolute;
  left: -8px;
  top: -10px;
  border: none;
  filter: drop-shadow(2px 2px 4px black);
  object-fit: cover;
  border-radius: 50px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header h1,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header h2,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header p.pf2e-av-threat {
  font-family: var(--h2-font);
  font-size: var(--h2-font-size);
  color: white;
  margin: 0;
  padding: 0.5rem 0;
  text-transform: uppercase;
  line-height: initial;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter header section {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter article {
  padding: 1rem 1rem 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter article h3 {
  color: var(--pf2e-red);
  border-top: 2px solid var(--pf2e-red);
  margin: 0.5rem 0 0;
  padding-top: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter article h3:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.entity-link,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.inline-roll,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.content-link {
  background: var(--pf2e-red);
  border-color: var(--pf2e-gold);
  color: var(--av-green-light);
  padding: 2px;
  line-height: 0.8rem;
  font-weight: bold;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.entity-link i,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.inline-roll i,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter a.content-link i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-repost],
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-check],
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-check]:not([data-pf2-show-dc=gm]),
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-effect-area]:not([data-pf2-show-dc=gm]) {
  background: var(--pf2e-red);
  border-color: var(--pf2e-gold);
  color: var(--av-green-light);
  padding: 4px 2px 2px 2px;
  line-height: 0.8rem;
  font-weight: bold;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-repost] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-check] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-check]:not([data-pf2-show-dc=gm]) i,
.journal-sheet.pf2e-av .journal-page-content .box-text.encounter [data-pf2-effect-area]:not([data-pf2-show-dc=gm]) i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt {
  display: block;
  border: 2px solid black;
  border-radius: 40px 8px 8px 8px;
  box-shadow: 0 10px 13px -7px var(--color-shadow-dark);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt header {
  position: relative;
  min-height: 80px;
  padding-left: 100px;
  color: white;
  background: url("../../../ui/denim075.png") repeat;
  border-bottom: 2px solid black;
  border-radius: 40px 6px 0 40px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt header img {
  height: 96px;
  width: 96px;
  position: absolute;
  left: -8px;
  top: -10px;
  border: none;
  filter: drop-shadow(2px 2px 4px black);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt header h1,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt header h2 {
  margin: 0;
  padding: 0.5rem 0;
  color: #ff6400;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt article {
  padding: 1rem 1rem 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt article h3 {
  color: var(--color-text-hyperlink);
  border-top: 2px solid var(--color-text-hyperlink);
  margin: 0.5rem 0 0;
  padding-top: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt article h3:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.entity-link,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.content-link,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.inline-roll {
  background: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
  text-decoration: none;
  padding: 2px;
  line-height: 0.8rem;
  font-weight: bold;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.entity-link i,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.content-link i,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt a.inline-roll i {
  color: white;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-repost],
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-check],
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-check]:not([data-pf2-show-dc=gm]) {
  background: rgba(0, 0, 0, 0.5);
  border-color: black;
  padding: 4px 2px 2px 2px;
  line-height: 0.8rem;
  font-weight: bold;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-repost] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-check] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.fvtt [data-pf2-check]:not([data-pf2-show-dc=gm]) i {
  color: white;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation {
  display: block;
  border: 2px solid black;
  border-radius: 40px 8px 8px 8px;
  background: rgba(137, 149, 120, 0.25);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation header {
  position: relative;
  min-height: 80px;
  padding-left: 100px;
  color: white;
  background: url(./assets/green-back-light.webp);
  background-size: cover;
  border-bottom: 2px solid black;
  border-radius: 40px 6px 0 40px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation header img {
  height: 96px;
  width: 96px;
  position: absolute;
  left: -8px;
  top: -10px;
  border: none;
  filter: drop-shadow(2px 2px 4px black);
  object-fit: cover;
  border-radius: 50px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation header h1,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation header h2 {
  color: white;
  margin: 0;
  padding: 0.5rem 0;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation article {
  padding: 1rem 1rem 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation article h3 {
  color: var(--av-green);
  border-top: 2px solid var(--av-green);
  margin: 0.5rem 0 0;
  padding-top: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation article h3:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.entity-link,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.inline-roll,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.content-link {
  background: var(--av-green);
  border-color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.entity-link i,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.inline-roll i,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation a.content-link i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-repost],
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-check],
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-check]:not([data-pf2-show-dc=gm]) {
  background: var(--av-green);
  border-color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-repost] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-check] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.investigation [data-pf2-check]:not([data-pf2-show-dc=gm]) i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure {
  display: block;
  border: 2px solid black;
  border-radius: 40px 8px 8px 8px;
  background: rgba(149, 120, 120, 0.25);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure header {
  position: relative;
  min-height: 80px;
  padding-left: 100px;
  color: white;
  background: url(./assets/red-back-light.webp);
  background-size: cover;
  border-bottom: 2px solid black;
  border-radius: 40px 6px 0 40px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure header img {
  height: 96px;
  width: 96px;
  position: absolute;
  left: -8px;
  top: -10px;
  border: none;
  filter: drop-shadow(2px 2px 4px black);
  object-fit: cover;
  border-radius: 50px;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure header h1,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure header h2 {
  color: white;
  margin: 0;
  padding: 0.5rem 0;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure article {
  padding: 1rem 1rem 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure article h3 {
  color: var(--pf2e-red);
  border-top: 2px solid var(--pf2e-red);
  margin: 0.5rem 0 0;
  padding-top: 0.5rem;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure article h3:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.entity-link,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.inline-roll,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.content-link {
  background: var(--pf2e-red);
  border-color: var(--pf2e-gold);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.entity-link i,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.inline-roll i,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure a.content-link i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-repost],
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-check],
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-check]:not([data-pf2-show-dc=gm]) {
  background: var(--paizo-blue-dark);
  border-color: var(--pf2e-gold);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-repost] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-check] i,
.journal-sheet.pf2e-av .journal-page-content .box-text.treasure [data-pf2-check]:not([data-pf2-show-dc=gm]) i {
  color: var(--av-green-light);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.right {
  float: right;
  margin: initial;
}
.journal-sheet.pf2e-av .journal-page-content .box-text.left {
  float: left;
  margin: initial;
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-content {
  min-height: 400px;
  max-height: 600px;
  margin: 2rem 0.75rem 3rem;
  padding-right: 1rem;
  overflow: hidden scroll;
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-content h2 {
  font-family: var(--h2-sidebar);
  font-size: var(--h2-sidebar-font-size);
}
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-content > h1,
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-content h2,
.journal-sheet.pf2e-av .journal-page-content .box-text > .box-content h3 {
  color: var(--av-white);
  margin-top: 0;
}
.journal-sheet.pf2e-av .journal-page-content .box-text ::-webkit-scrollbar-thumb {
  background: var(--av-gold-dark);
  border: 1px solid var(--av-gold);
}
.journal-sheet.pf2e-av .journal-page-content .box-text.narrative {
  font-size: 1.1rem;
  font-family: var(--narrative-font);
  border-top: 2px ridge var(--av-tan);
  border-bottom: 2px ridge var(--av-tan);
  border-left: none;
  border-right: none;
  color: var(--av-tan);
  padding: 5px 10px 5px 5px;
  margin-right: 3%;
  margin-left: 3%;
}
.journal-sheet.pf2e-av .journal-page-content blockquote {
  border: unset;
}
.journal-sheet.pf2e-av .journal-page-content blockquote p {
  font-family: 'Sabon LT', serif;
}
.journal-sheet.pf2e-av .journal-page-content blockquote.av-quote {
  color: var(--av-green);
}
.journal-sheet.pf2e-av .journal-page-content .compartment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margins: 1rem;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article {
  background: var(--cora-blue);
  flex-basis: 49%;
  padding: 5px;
  border: 2px solid var(--cora-blue-dark);
  border-radius: 10px;
  margin-bottom: 5px;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article ul {
  font-weight: bold;
  font-size: 0.9rem;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article.full {
  flex-basis: 100%;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article.full ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article h1,
.journal-sheet.pf2e-av .journal-page-content .compartment article h2,
.journal-sheet.pf2e-av .journal-page-content .compartment article h3 {
  color: var(--cora-blue-dark);
}
.journal-sheet.pf2e-av .journal-page-content .compartment article h3 {
  border-bottom: 3px dotted var(--cora-blue-dark);
  margin-bottom: 1rem;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article h3.half {
  width: 50%;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article h3.third {
  width: 33%;
}
.journal-sheet.pf2e-av .journal-page-content .compartment article section {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  font-family: var(--main-font);
  font-size: var(--body-font-size);
}
.journal-sheet.pf2e-av .journal-page-content .compartment article section img {
  border: none;
  filter: drop-shadow(2px 4px 6px black);
}
.journal-sheet.pf2e-av .journal-page-content .compartment .box-text.narrative {
  color: var(--cora-blue-dark);
}
.journal-sheet.pf2e-av .journal-page-content .character-gallery {
  justify-content: space-around;
  margin: 1rem 0;
  background: var(--av-green-light);
  border: 2px solid var(--av-green);
  border-radius: 10px;
}
.journal-sheet.pf2e-av .journal-page-content .character-gallery figure {
  flex: 0 0 160px;
  margin: 0.25rem;
}
.journal-sheet.pf2e-av .journal-page-content .character-gallery figure img {
  border: none;
}
.journal-sheet.pf2e-av .journal-page-content .character-gallery figure figcaption {
  font-family: var(--main-font);
  font-size: var(--body-font-size);
}
.journal-sheet.pf2e-av .journal-page-content aside.right {
  float: right;
  margin: initial;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-sidebar {
  border-left: 3px solid;
  flex-basis: 37%;
  margin-left: 10px;
  padding-left: 20px;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-sidebar ul {
  font-size: 0.8rem;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block {
  float: right;
  margin: 0 5px 10px 10px;
  width: 280px;
  padding: 10px 10px 0;
  background: rgba(0, 0, 0, 0.1);
  border: initial;
  border-left: 2px solid black;
  color: black;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block.left {
  float: left;
  border-left: initial;
  border-right: 2px solid black;
  margin: 0 10px 10px 5px;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block h2 {
  font-family: var(--h1-font);
  color: var(--av-green);
  font-weight: normal;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block h2:first-child {
  margin-top: 0;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block h3 {
  text-align: left;
  border: none;
  color: var(--av-green);
  display: block;
  margin: 0.15rem 0 0 0.15rem;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block h4 {
  font-size: 1.25rem;
  color: var(--av-green);
  margin-bottom: 0;
}
.journal-sheet.pf2e-av .journal-page-content aside.av-float-block ul {
  list-style: none;
  line-height: 1.5rem;
  padding-left: 10px;
}
/* -------------------------------------------- */
/*  Importer                                    */
/* -------------------------------------------- */
.pf2e-av.adventure-importer figure.adventure-banner {
  flex: 0 0 100%;
  margin: 0.5rem 0;
}
.pf2e-av.adventure-importer figure.adventure-banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 30%;
  border-radius: 5px;
}
.pf2e-av.adventure-importer .adventure-overview {
  flex: 2;
  padding-right: 1em;
}
.pf2e-av.adventure-importer .adventure-overview p {
  font-size: 0.875rem;
  line-height: 1.25em;
}
.pf2e-av.adventure-importer .adventure-contents ul {
  padding: 0;
  list-style: none;
}
.pf2e-av.adventure-importer .adventure-contents ul li i {
  color: var(--color-text-dark-inactive);
  margin-right: 0.5rem;
}
.pf2e-av.adventure-importer .import-options input[type="checkbox"]:checked {
  -webkit-filter: hue-rotate(240deg);
}
.pf2e-av.adventure-importer .adventure-footer {
  flex: 0 0 100%;
  margin-top: 0.5rem;
}
/* TODO: Delete templates.less and remove this import before release*/
/***
Structural changes to the html of the sheet by way of CSS
 */
.pf2e-av section.journal-entry-content > .journal-entry-pages {
  margin: 0 0 0 0.5rem;
  padding-right: 1rem;
}
.pf2e-av form {
  padding: 0px 5px;
}
.pf2e-av form .editor {
  height: calc(100% - 145px);
}
.pf2e-av form.journal-header {
  margin: 0.25rem 0;
}
.pf2e-av .journal-entry-content.flexcol {
  min-width: 400px;
}
.pf2e-av .journal-header {
  margin: 0.25rem;
}
.pf2e-av .journal-header input.title {
  background: url("./assets/border-left.webp"), url("./assets/border-right.webp"), url("./assets/border-top.webp"), url("./assets/border-bottom.webp"), url("./assets/bg-rust-no-pad.webp");
  background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: -10px 0px, calc(100% + 10px) 0px, 100% 10px, 100% 95%, 100% 10px;
  height: 95px;
  line-height: 36px;
  border: none;
  text-align: center;
  font-family: var(--h1-font);
  font-size: 3rem;
  color: var(--av-green-light);
  letter-spacing: 0.1rem;
}
.pf2e-av .journal-header h1 {
  line-height: 100px;
}
.pf2e-av select[name="folder"] {
  display: none;
}
.pf2e-av {
  /* Background overrides*/
}
.pf2e-av.journal-sheet:not(.minimized) {
  min-width: 400px;
}
.pf2e-av.journal-sheet:not(.minimized) h4.window-title {
  visibility: hidden;
}
.pf2e-av section.window-content {
  color: black;
  background: url("./assets/parchment-av.jpg") repeat;
}
